___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    elif a%2 != 0 or b%2 != 0:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [22]:
def animal_crackers(text):
    
    text = text.split()
    return text[0][0].upper() == text[1][0].upper()

In [23]:
# Check
animal_crackers('Levelheaded Llama')

True

In [24]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [37]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2 ==20

In [38]:
# Check
makes_twenty(20,10)

True

In [40]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [250]:
def old_macdonald(name):
    if len(name)>=4:
        name = list(name)
        name[0] = name[0].upper()
        name[3] = name[3].upper()
    else:
        print('Name too short needs to be 4 or more chars')
    return name

In [252]:
# Check
old_macdonald('peanut')

['P', 'e', 'a', 'N', 'u', 't']

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [264]:
def master_yoda(text):
    text = text.split()
    text.reverse()
    print(' '.join(text))

In [265]:
# Check
master_yoda('I am home')

home am I

In [266]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [272]:
def almost_there(n):
    if n in range(90,110) or n in range(190,210):
        return True
    else:
        return False

In [277]:
# Check
almost_there(104)

True

In [274]:
# Check
almost_there(150)

False

In [275]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [393]:

#l = limit, n = number
def has_33(nums):
    n = 1
    l = 0
    for i,a in enumerate(nums):
        if a == 3 and l <= 2 and n >=1 and n <=2:
            n+=1
            l+=1
            print(n)
            print(l)
            print('-----')
        if a != 3 and l <= 2 and n >=1 and n <=2:
            n-=1
            l+=1
            print(n)
            print(l)
            print('-----')
        elif l > 2 or n < 1 or n >2:
            l = 0
            n = 1
            print(n)
            print(l)
            print('-----')
    
    return n > 1

In [394]:
# Check
has_33([1, 3, 3])

0
1
-----
1
0
-----
2
1
-----

True

In [395]:

# Check
has_33([1, 3, 1, 3])

0
1
-----
1
0
-----
0
1
-----
1
0
-----

False

In [396]:
# Check
has_33([3, 1, 3])

2
1
-----
1
2
-----
2
3
-----
1
0
-----

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [45]:
def paper_doll(text):
    text = list(text)
    text1 = []
    for i in text:
        i = i + i + i 
        text1.append(i)
    return ''.join(text1)

In [46]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [47]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [101]:
def blackjack(a,b,c):
    sum21 = a+b+c
    if sum21 <= 21: 
        return sum21
    elif sum21 >=21 and a == 11 or b == 11 or c == 11:
        sum21-=10
        return sum21
    else:
        return 'BUST'

In [102]:
# Check
blackjack(5,6,7)

18

In [104]:
# Check
blackjack(9,9,9)

'BUST'

In [105]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [257]:
def summer_69(arr):
#     arr.sort()
    sp= 0
    stp= 0
    na = []
    space='-->'
    for i,n in enumerate(arr):
        if n <6 or n>9:
            na.append(n)
        if n == 6:
            sp = i-1
        if n == 9:
            stp = i
        for i in range(arr[sp],arr[stp]):
            n = 0
            na.append(n)
    print('{} {} {}'.format(na, space,sum(na)))

In [258]:
# Check
summer_69([1, 3, 5])

[1, 3, 5] --> 9

In [259]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

[4, 5, 0, 0, 0, 0] --> 9

In [254]:
# Check
summer_69([2, 1, 6, 9, 11])

[2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 0, 0, 0, 0, 0, 0, 0, 0] --> 14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [411]:

def spy_game(nums):
    na=[]
#     nums = str(nums)
    for i,n in enumerate(nums):
        if n == 0 or n == 7:
            na.append(n)
    if na == [0,0,7]:
        return True
    else:
        return False

In [412]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [413]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [414]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [536]:
space = '-->'
def count_primes(num):
    primes= []
    count = 0
    num = int(num)
    for n in range(2,int(num)+1):
        if n%2 != 0 and n%3 != 0 and n%5 != 0 and n%7 != 0 and n%11 !=0 or n==7 or n==11 or n==2 or n ==3 or n==5:
            primes.append(n)
            count+=1
            
    print('{}{}'.format(space,count))

In [537]:
# Check
count_primes(100)

-->25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!