___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: Are integers or floats that can be added or subtracted from each other

Strings: Are literals that have text properties

Lists: are arrays that can be iterated through, ordered, split, reversed and concatinated. 

Tuples: An array that indexes can not be assigned, you can add to, pop or count items

Dictionaries: An array of Key/value pairs can be called based on keys or values

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [3]:
(4 * 25) + ((1.50 - 1) / 2 **1)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [4]:
Ans1 = 4* (6 + 5)
Ans2 = 4*6+5
Ans3 = 4+6*5
myAns = [Ans1,Ans2,Ans3]
myAns

[44, 29, 34]

What is the *type* of the result of the expression 3 + 1.5 + 4?<br> float<br>

What would you use to find a numberâ€™s square root, as well as its square?

In [25]:
# Square root: 
def square_root(num):
    return num**0.5
square_root(16)

4.0

In [28]:
# Square:
def square(num):
    return num**2
square(4)

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [29]:
s = 'hello'
# Print out 'e' using indexing

s[1:-3]

'e'

Reverse the string 'hello' using slicing:

In [55]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [58]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1:]

'o'

In [59]:
# Method 2:
s[4::-5]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [63]:
# Method 1:
mylist1=[0,0,0]
mylist1

[0, 0, 0]

In [1]:
# Method 2:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [68]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [5]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)
list4 = [5,3,4,6,1]
print(sorted(list4))

[1, 3, 4, 5, 6]
{1, 3, 4, 5, 6}
[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [77]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [78]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [7]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
t = ('a','b','c')
#Grab hello
s=d['k1'][0]['nest_key'][1]
def toString(list):
 return print(','.join(list))
def toString2(tuple):
 return print(*tuple)

print(s)
toString(s)
toString2(t)

['hello']
hello
a b c

In [34]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
b = d['k1'][2]['k2'][1]['tough'][2]
print(','.join(b))
b

hello

['hello']

Can you sort a dictionary? Why or why not?<br>no because normal dictionaries it is unordered mappings not sequence<br>

## Tuples

What is the major difference between tuples and lists?<br>you can not assign indexes<br>

How do you create a tuple?<br>tuples are created by using () around a list instead of []<br>

## Sets

What is unique about a set?<br>sets can not have duplicated objects<br>

Use a set to find the unique values of the list below:

In [192]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer first then check by typing it in!)

In [193]:
# Answer before running cell: A: False
2 > 3

False

In [194]:
# Answer before running cell. A: False
3 <= 2

False

In [195]:
# Answer before running cell. A:False
3 == 2.0

False

In [36]:
# Answer before running cell. A: True
3.0 == 3

True

In [198]:
# Answer before running cell. A: False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [199]:
# two nested lists:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? A: False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!